.clickButton{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 32%;
    
}

.webTitle{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}

p{
    text-align: center;
    font-family: sans-serif;
}


/*
img:active{
   transform:scale(.95);
   box-shadow:2px 2px 10px rgba(0,0,0,1);
    
}
*/